[submodule "src/python/word_level_rnn"]
	path = src/python/word_level_rnn
	url = git@github.com:mrzl/word-rnn-tensorflow.git
[submodule "src/v4/pytorch_RVAE"]
	path = src/v4/pytorch_RVAE
	url = https://github.com/Schwittleymani/pytorch_RVAE
