argcomplete==1.6.0
beautifulsoup4==4.5.1
chardet==2.3.0
EbookLib==0.15
lxml==3.6.4
Pattern==2.6
pdfminer==20140328
Pillow==3.4.2
pyPdf==1.13
python-docx==0.8.6
-e git+https://github.com/wieden-kennedy/python-markov@ee1ae2bbb12e934aaea15b90b911e696bdb23511#egg=python_markov-master
python-pptx==0.6.1
redis==2.10.5
requests==2.11.1
six==1.10.0
SpeechRecognition==3.4.6
textract==1.4.0
tika==1.13.1
wheel==0.24.0
xlrd==1.0.0
XlsxWriter==0.9.3
