argcomplete==1.6.0
backports-abc==0.4
beautifulsoup4==4.5.1
certifi==2016.9.26
chardet==2.3.0
cycler==0.10.0
EasyProcess==0.2.3
EbookLib==0.15
lxml==3.6.4
matplotlib==1.5.3
numpy==1.11.2
Pattern==2.6
pdfminer==20140328
Pillow==3.4.2
pydle==0.8.2
pyparsing==2.1.10
pyPdf==1.13
pyscreenshot==0.4.2
python-dateutil==2.6.0
python-docx==0.8.6
python-pptx==0.6.1
pytz==2016.7
redis==2.10.5
requests==2.11.1
singledispatch==3.4.0.3
six==1.10.0
SpeechRecognition==3.4.6
textract==1.4.0
tika==1.13.1
tornado==4.4.2
xlrd==1.0.0
XlsxWriter==0.9.3
