.spritzed {
    position: relative;
    font-size: 55px;
}

.spritzed .left {
}

.spritzed .right {
}

.spritzed > div {
    position: absolute;
}

.highlight {
    color: #ed4e4e;
}

text{
	display: none;
}