@font-face {
  font-family: "Aki Lines";
  src: url("aki_lines_regular.ttf") format("truetype");
}

h1 {
    font-family: "Aki Lines";
    font-size: 50px;
}

.msg {
    list-style: none;
    clear: both;
}

.msgBox {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: monospace;
    font-size: 16px;
    display: inline-block;
    text-align: left;
    max-width: 700px;
    padding: 15px 20px;
    border-radius:25px;
}

.left {
    margin-right: auto;
    float: left;
    background: #BBDEFB;
    border: #BDBDBD solid 1px;
}

.right {
    margin-left: auto;
    float: right;
    background: #87D37C;
    border: #BDBDBD solid 1px;
}

.timeStamp {
    font-family: monospace;
    font-size: 14px;
    font-weight:bold;
    color:grey;
    margin-left: auto;
    float: right;
}

.msgTextPre {
    font-size: 6px;
    font-family: monospace;
}

.image {
    max-width: 400px;
    max-height: 400px;
    border-radius: 15px;
}

.msgUser {
    font-weight: bold;
}

.msgText {
    margin-top: 5px;
}

#msgTemplate {
    display: none;
}