@font-face {
  font-family: "Aki Lines";
  src: url("aki_lines_regular.ttf") format("truetype");
}

body
{
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    overflow: hidden;
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
      animation: rainbow 18s ease infinite;
}

#selector {
    cursor: none;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

#top
{
    position: sticky;
    z-index: 999;
    top: 10px;
    left: 10px;
}

#top h1 {
    font-family: "Aki Lines";
    font-size: 60px;
    text-align: center;
    background: #f1c40f;
    margin: 0px;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius:10px;
}

.msg {
    list-style: none;
    clear: both;
}

.msgBox {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: monospace;
    font-size: 25px;
    display: inline-block;
    text-align: left;
    max-width: 1000px;
    min-width: 800px;
    padding: 15px 20px;
    border-radius: 15px;
}

.left {
    margin-right: auto;
    float: left;
    text-align: left;
    background: #BBDEFB;
}

.right {
    margin-left: auto;
    margin-right: 40px;
    float: right;
    text-align: right;
    background: #87D37C;
}

.timeStamp {
    font-family: monospace;
    font-size: 14px;
    color:grey;
}

.msgTextPre {
    font-size: 6px;
    font-family: monospace;
}

.spritzDiv {
    position: relative;
    font-size: 45px;
}

.scrollDiv {
    height: 200px;
    z-index: 99;
    overflow: hidden;
    position: relative;
    vertical-align: bottom;
}

.canScroll {
    min-height: 60px;
}

.scrollDiv .msgTextDiv {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 25px;
    /* text-align: left;*/
    /* Starting position */
    -moz-transform:translateY(0%);
    -webkit-transform:translateY(0%);
    transform:translateY(0%);
    /* Apply animation to this element */
    -moz-animation: scrollDiv 15s linear infinite reverse;
    -webkit-animation: scrollDiv 15s linear infinite reverse;
    animation: scrollDiv 15s linear infinite reverse;
}

/* Move it (define the animation) */
@-moz-keyframes scrollDiv {
 0%   { -moz-transform: translateY(0%); }
 100% { -moz-transform: translateY(100%); }
}
@-webkit-keyframes scrollDiv {
 0%   { -webkit-transform: translateY(0%); }
 100% { -webkit-transform: translateY(100%); }
}
@keyframes scrollDiv {
 0%   {
         -moz-transform: translateY(0%); /* Firefox bug fix */
         -webkit-transform: translateY(-100%); /* Firefox bug fix */
         transform: translateY(-50%);
    }
 100% {
         -moz-transform: translateY(100%); /* Firefox bug fix */
         -webkit-transform: translateY(100%); /* Firefox bug fix */
         transform: translateY(100%);
 }
}

.image {
    max-width: 400px;
    max-height: 400px;
    border-radius: 15px;

}

.left .image {
    margin-left: 25%;
}

.right .image {
    margin-right: 25%;
}

.msgUser {
    font-weight: bold;
}

.msgText {
    margin-top: 5px;
}

#msgTemplate {
    display: none;
}

.button {
    z-index: 1000;
    position: sticky;
    top: 100px;
    left: 10px;
}