<!DOCTYPE HTML>
<html>
<head>
    <title>Oracle 4.0</title>
    <meta charset='utf-8'>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <!-- https://github.com/iamcal/js-emoji -->
    <script type="text/javascript" src="static/emoji.min.js"></script>
    <link rel="stylesheet" href="static/style.css">
    <script type="text/javascript" charset="utf-8">

        var doScrolling = true;
        $(document).ready(function() {
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
            socket.on('connect', function() {
                <!--socket.emit('my_event', {data: 'I\'m connected!'});-->
            });
            socket.on('msg', function(socketMsg) {
                if(doScrolling) {
                    // smooth scrolling to empty div at bottom of page
                    $('html, body').animate({
                        scrollTop: $('.smooth_scroll_div').offset().top
                    }, 1000);
                }

                appendMsg(socketMsg);
            });
        });

        function toggleScrolling() {
            doScrolling = !doScrolling;
        }
    </script>

</head>
<body>
    <div id="top">
        <h1>Electronic<br>Chaos Oracle 4.0</h1>
    </div>
    <button class="button" onclick="toggleScrolling()">Toggle Scrolling</button>
    <ul id="log"></ul>
    <li class="msg" id="msgTemplate">
        <div class="msgBox">
            <div class="canScroll">
                <div class="msgTextDiv"></div>
            </div>
            <pre class="msgTextPre"></pre>

            <div><img class="image" src=""/></div>
            <div class="timeStamp toggle">TIMESTAMP??</div>
        </div>
    </li>
    <div class="smooth_scroll_div"></div>
    <script type="text/javascript" src="static/script.js"></script>
</body>
</html>