<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grammar Check</title>
</head>
<body>
    <div>
        Grammar check: <input id="input" type="text" name="grammar" value="these is cool!"><br>
        <p>
        <input value="send" type="button" onclick="submit()" />

            <span>Result:  </span>
          <span id="output">

          </span>
        </p>
    </div>

    <script>
        function submit() {
            xhr = new XMLHttpRequest();
            var text = document.getElementById("input").value
            var url = "?grammar="+text;
            xhr.open("POST", url, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var json = JSON.parse(xhr.responseText);
                    //console.log(json.grammar_corrected);
                    output.innerHTML = json.grammar_corrected;
                }
            }
            xhr.send();
        }
    </script>
</body>
</html>