<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grammar Check</title>
</head>
<body>
    <div>
        <p>
            Grammar check: <input id="input" type="text" name="input" value="these is cool!"><br>
            <input value="send" type="button" onclick="submit()">
            <span>Result:  </span>
            <span id="output"></span>
        </p>
    </div>

    <script>
        function submit() {
            xhr = new XMLHttpRequest();
            var text = document.getElementById("input").value
            var url = "?preProc=" + text;
            xhr.open("POST", url, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var json = JSON.parse(xhr.responseText);
                    //console.log(json.grammar_corrected);
                    output.innerHTML = "Grammar: " + json.grammar_corrected + " // Spell check: " + json.spell_check;
                }
            }
            xhr.send();
        }
    </script>
</body>
</html>