appdirs==1.4.0
boto==2.45.0
bz2file==0.98
cloudpickle==0.2.2
cymem==1.31.2
cytoolz==0.8.2
flexmock==0.10.2
gensim==0.13.4.1
html2text==2016.9.19
murmurhash==0.26.4
numpy==1.12.0
packaging==16.8
pathlib==1.0.1
plac==0.9.6
preshed==0.46.4
pygraphviz==1.3.1
pyparsing==2.1.10
requests==2.13.0
scikit-learn==0.18.1
scipy==0.18.1
see==1.3.2
semver==2.7.4
six==1.10.0
sklearn==0.0
smart-open==1.3.5
spacy==1.6.0
SpeechRecognition==3.6.0
sputnik==0.9.3
thinc==6.2.0
toolz==0.8.2
tqdm==4.11.2
ujson==1.35
yamlmagic==0.2.0
